* {
    box-sizing: border-box;
}
.container {
    overflow: hidden;
    width: 90%;
    height: 300px;
    margin: 100px auto;
  
    
}
.container-wrapper {

    animation: slide 8s linear infinite;
    animation-direction: alternate;
    display: flex;

}


.container-wrapper:hover {
    animation-play-state: paused;
  }
@keyframes slide {
    from{
      transform: translateX(0px);
    }
    to {
      transform: translateX(-200%);
    }
  }